
# technical files
.pytest_cache/
**/.pytest_cache/
.quarto/
.Rproj.user/
**/.Rproj.user/
.vscode/
*/__pycache__
*.html
/.luarc.json
.luarc.json
/.quarto/
.DS_Store
.Rhistory

*.pyc

# exclude subfolders

notebooks/
examples/
projects/
data/
thesis/
_output/
# existing git repositories
MEG-ASSR-Pipeline/


# exclude env
.env
studies/*/central.cfg

meg-workflow/.snakemake/